# SERVER
PORT=3000
NODE_ENV=development

# DATABASE
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=arena_os_v2
DB_SYNC=true

# REDIS
REDIS_URL=redis://127.0.0.1:6379

# JWT
JWT_SECRET=super-secret-enterprise-key
JWT_EXPIRATION=30d

# CORS
CORS_ORIGIN=*

# UPLOADS
UPLOAD_DIR=./uploads

# WHITE LABEL
DEFAULT_THEME=light
DEFAULT_LANGUAGE=en
